<div>
  <nav>
    <ul class="navbar-link">
      <li class="nav-link">
        <a routerLink="trainer">Trainer</a>
      </li>
      <li class="nav-link">
        <a routerLink="catalogue">Catalogue</a>
      </li>
      <li class="nav-link">
        <a (click)="handleLogOut($event)" class="logout">Logout</a>
      </li>
    </ul>
  </nav>
</div>
