.navbar-link {
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 2rem;
}

nav {
  background-color: rgb(204, 0, 0);
  border-bottom: 5px solid black;
}

.logout:hover {
  cursor: pointer;
}
a {
  color: rgb(59, 76, 202);
  font-family: "Fredoka One", cursive;
  text-decoration: none;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px black;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}
