.landing-page {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  padding: 15px;
  margin-right: 20px;
  font-family: "Fredoka One", cursive;
}

button {
  padding: 15px 30px;
  background-color: rgb(59, 76, 202);
  font-family: "Fredoka One", cursive;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255, 222, 0);
}
