<div>
  <h3 class="trainer-title">CATCHED POKEMONS</h3>
  <div>
    <p *ngIf="!catchedPokemons" class="no-pokemons">No pokemons</p>
  </div>
  <div>
    <ul class="pokemon-container">
      <div class="pokemons" *ngFor="let pokemon of catchedPokemons">
        <li *ngIf="catchedPokemons" class="pokemon">
          <p [id]="pokemon.id">{{ pokemon.name }}</p>
          <img [src]="pokemon.pokemonImage" alt="img" [id]="pokemon.id" />
        </li>
      </div>
    </ul>
  </div>
</div>
