.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemons {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px solid black;
  margin: 0.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  background: linear-gradient(0deg, white 50%, rgb(255, 0, 0) 50%) no-repeat;
}

.catalogue-title {
  text-align: center;
  font-size: 3.5rem;
  color: rgb(59, 76, 202);
  font-family: "Fredoka One", cursive;
  padding: 4rem;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}

img {
  width: 70%;
}

p {
  margin-top: 3rem;
  font-family: "Bungee Inline", cursive;
  margin-bottom: 1rem;
}
