<div>
  <h3 class="catalogue-title">ClICK TO CATCH POKEMONS</h3>
  <ul class="pokemon-container">
    <div *ngFor="let pokemon of pokemons" class="pokemons">
      <li (click)="handleImageClicked(pokemon)" class="pokemon">
        <p>{{ pokemon.name }}</p>
        <img [src]="pokemon.pokemonImage" alt="img" />
      </li>
    </div>
  </ul>
</div>
